.footer {
  display: flex;
  justify-content: center;
  background: url('../../../assets/images/noise.jpg') 0% 0% / 110px 110px repeat,
    radial-gradient(70% 160% at 0% 0%, #5B483A 0%, #262425 100%);
  background-blend-mode: overlay;
}

.footer__limiter {
  display: flex;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  max-width: 1280px;
  padding: 30px 10px 0;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 768px) {
    padding: 30px 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 65px;
  }

  @media (min-width: 1280px) {
    padding: 40px 40px 0;
    flex-wrap: nowrap;
    gap: 152px;
  }
}

.footer__top,
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    width: 278px;
    align-items: flex-start;
    align-self: flex-start;
  }

  @media (min-width: 1280px) {
    padding-top: 16px;
  }
}

.footer__top {
  align-items: center;

  @media (min-width: 768px) {
    align-items: flex-start;
  }

  @media (min-width: 1280px) {
    width: 278px;
  }
}

.footer__bottom {
  width: 295px;
  align-items: flex-start;

  @media (min-width: 768px) {
    gap: 35px;
  }

  @media (min-width: 1280px) {
    width: 302px;
  }
}

.footer__top-title,
.footer__bottom-title {
  width: 278px;
  text-align: center;
  font-family: var(--georgia-regular);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.5px;
  color: var(--color-light-xl);

  @media (min-width: 768px) {
    width: 295px;
    text-align: left;
    font-size: 35px;
    letter-spacing: 2.1px;
  }
}

.footer__top-wrapper,
.footer__bottom-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__top-link,
.footer__bottom-link {
  font-family: var(--georgia-regular);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-primary);
}

.footer__top-icon {
  width: 40px;
  height: 32px;
}

.footer__bottom-icon {
  width: 22px;
  height: 32px;
}

.footer__image {
  width: 260px;
  min-height: 0;
  flex-shrink: 1;

  @media (min-width: 768px) {
    width: 300px;
  }
}