@import url('./burger.css');

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__limiter {
  display: flex;
  max-width: 1280px;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 769px) {
    padding: 30px 40px 0;
  }

  @media (min-width: 321px) {
    padding: 30px 30px 0;
  }
}

.header__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  color: var(--color-primary);
  font-family: var(--georgia-regular);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1.92px;
}

.header__title-description {
  color: var(--color-light-xl);
  font-family: var(--arial-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}

.header__navigation-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-item {
  box-sizing: border-box;
  height: 27px;
  flex-shrink: 0;
}

.header__navigation-link {
  font-family: var(--arial-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-dark-s);

  &:hover {
    color: var(--color-light-s);
  }

  &:active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-primary);
    color: var(--color-light-s);
  }

  @media (max-width: 767px) {
    color: var(--color-light-s);
    font-size: 32px;
  }
}

.header__btn-menu {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 22px;
  background: url('../../../assets/icons/button-menu.svg') center / cover no-repeat;
  transform: rotate(0);
  transition: transform 0.3s linear;

  @media (min-width: 768px) {
    display: none;
  }
}

.header__btn-menu_open {
  transform: rotate(90deg);
}