:root {
	/*color variables*/
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
	--header-btn-menu-color: var(--color-primary);

	/*text variables*/
	/*Text sizes*/
	--text-size-xl: 44px;
	--text-size-xm: 35px;
	--text-size-xs: 20px;
	--text-size-m: 15px;
	--text-size-ms: 12px;

	/*Text line height*/
	--text-line-height-xl: 160%;
	--text-line-height-xm: 150%;
	--text-line-height-m: 130%;
	--text-line-height-ms: 115%;
	--text-line-height-s: 110%;

	/*Text letter spacing*/
	--text-letter-spacing: 0.06em;

	/*Fonts*/
	--georgia-regular: "Georgia Regular", sans-serif;
	--georgia-italic: "Georgia Italic", sans-serif;
	--arial-regular: "Arial Regular", sans-serif;
	--arial-italic: "Georgia Italic", sans-serif;
	--inter-regular: "Inter Regular", sans-serif;
}